body   {  margin: 0;  padding: 0;  }
body * {  font-family: Arial, Helvetica, sans-serif;  }

@media (min-width: 768px) {
    #wd-kanbas .wd-main-content-offset {
        padding-left: 140px !important;
    }
}

.list-group.wd > .list-group-item.active {
    color: black;
    background-color: white;
    border-left: 3px solid black !important;
}

.list-group-item.active {
    background-color: white !important;
    color: red !important;
    border-left: 4px solid black !important;
}

.btn-secondary {
    --bs-btn-color: #000 !important;
    --bs-btn-bg: #c7cdd1 !important;
    --bs-btn-border-color: #c7cdd1 !important;
    --bs-btn-hover-color: #fff !important;
}
.bg-secondary {
    --bs-secondary-rgb: 199, 205, 209;
}
.list-group-item {
    --bs-list-group-border-color: gray;
}

.wd-lesson {
    border-left: 3px solid green !important;
}

#wd-dashboard-title {
    font-size: 2rem;
    margin: 20px 0 10px;
}

#wd-dashboard-published {
    font-size: 1.25rem;
    color: #666;
    margin-left: 20px;
}

.wd-dashboard-course {
    width: 250px;
    margin-bottom: 20px;
}

.card {
    border: none;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f8f9fa;
}

.card-header {
    background-color: #007bff;
    height: 80px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
    color: white;
}

.card-body {
    padding: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
}

.course-title {
    font-size: 0.9rem;
    font-weight: bold;
    margin: 10px 0;
}

.course-details {
    font-size: 0.8rem;
    color: #666;
}


